<div class="col-12 blog-sidebar">
<!--Sidebar content-->

        <div class="form-group">
            <label class="col-sm-2 control-label">Organizar por:</label>
            <div class="col-sm-5">
                <select class="form-control" ng-model="orderProp">
                    <option value="name">Alphabeticamente</option>
                    <option value="model">Año</option>
                </select>
            </div>
        </div>

</div>

<div class="col-12">
    <div class="row">
        <div class="card col-lg-3 col-sm-4 mt-2" ng-repeat="moto in motos | orderBy:orderProp">
            <img src="{{moto.imageUrl}}" class="card-img-top mt-1">
            <div class="card-body">
                <h5 class="card-title">{{moto.name}}</h5>
                <p class="card-text"><b>Año:</b> {{moto.model}}</p>
                <a href="#/detalle/{{moto.id}}" class="btn btn-primary">Más info...</a>
            </div>
        </div>
    </div>
</div>